In [45]:
import pandas as pd
import numpy as np
import requests
import json
import os
import time
import fred_msa
from datetime import date

pd.set_option('display.max_rows', 100)

In [2]:
csvs_to_ignore = ['pres-series.csv']

In [3]:
filepath = '..\\fred-data-pres'
data_files = set(os.listdir(filepath)).difference(set(csvs_to_ignore))

In [31]:
all_data = {}
for file in data_files:
    data = pd.read_csv(os.path.join(filepath, file))
    frequency = data.frequency[0]
    
    data.date = pd.to_datetime(data.date)
    data['year'] = [d.year for d in data.date]
    if frequency == 'Monthly':
        data['month'] = [d.month for d in data.date]
    all_data[file.replace('.csv', '')] = {'data' : data.drop(columns=['msa', 'title', 'id', 'frequency', 'seasonal_adjustment', 'date']), 'frequency' : data.frequency[0]}

In [40]:
dataset = all_data['Housing Inventory - Median Listing Price']['data'][['year', 'month', 'city', 'state', 'Housing Inventory: Median Listing Price']]

In [41]:
dataset

     year  month     city state  Housing Inventory: Median Listing Price
0    2016      7  Atlanta    GA                                 272000.0
1    2016      8  Atlanta    GA                                 269900.0
2    2016      9  Atlanta    GA                                 270168.0
3    2016     10  Atlanta    GA                                 269900.0
4    2016     11  Atlanta    GA                                 269900.0
..    ...    ...      ...   ...                                      ...
255  2021      7    Tulsa    OK                                 256450.0
256  2021      8    Tulsa    OK                                 265000.0
257  2021      9    Tulsa    OK                                 265000.0
258  2021     10    Tulsa    OK                                 265000.0
259  2021     11    Tulsa    OK                                 255000.0

[260 rows x 5 columns]

In [42]:
for k, v in all_data.items():
    if k != 'Housing Inventory - Median Listing Price':
        if v['frequency'] == 'Monthly':
            dataset = pd.merge(dataset, v['data'], how = 'left', on = ['year', 'month', 'city', 'state'], validate = 'one_to_one')
        else:
            dataset = pd.merge(dataset, v['data'], how = 'left', on = ['year', 'city', 'state'], validate = 'many_to_one')

In [48]:
dataset[dataset['city'] == 'Tulsa']

for col in dataset.columns:
    if 'Employees' in col:
        dataset[col] = dataset[col]/dataset['Resident Population']

In [51]:
dataset.to_csv(os.path.join(filepath, 'pres-data.csv'), index=False)

In [17]:
[v['frequency'] for k,v in all_data.items()]

[array(['Monthly'], dtype=object),
 array(['Annual'], dtype=object),
 array(['Monthly'], dtype=object),
 array(['Monthly'], dtype=object),
 array(['Monthly'], dtype=object),
 array(['Monthly'], dtype=object),
 array(['Monthly'], dtype=object),
 array(['Monthly'], dtype=object),
 array(['Annual'], dtype=object),
 array(['Annual'], dtype=object)]

In [ ]:
income.date = pd.to_datetime(income.date)
income['year'] = [d.year for d in income.date]

In [16]:
all_data['Housing Inventory - Median Listing Price']['data']

           date  Housing Inventory: Median Listing Price state     city
0    2016-07-01                                 272000.0    GA  Atlanta
1    2016-08-01                                 269900.0    GA  Atlanta
2    2016-09-01                                 270168.0    GA  Atlanta
3    2016-10-01                                 269900.0    GA  Atlanta
4    2016-11-01                                 269900.0    GA  Atlanta
..          ...                                      ...   ...      ...
255  2021-07-01                                 256450.0    OK    Tulsa
256  2021-08-01                                 265000.0    OK    Tulsa
257  2021-09-01                                 265000.0    OK    Tulsa
258  2021-10-01                                 265000.0    OK    Tulsa
259  2021-11-01                                 255000.0    OK    Tulsa

[260 rows x 4 columns]